.homePage{
    display: block;
    background-color: #f0f2f5;
}

.homeContent{
    margin: 1rem 2rem;
    display: block;
}
.singleContent{
    background-color: white;
    text-align: center;
    display: block;
    width: 18vw;
    height: 25vh;
    margin: 1vh 0.5vw;
    border-radius: 0.5rem;
    padding:0.05rem ;
    box-shadow: 0 1vh 1vw rgba(0, 0, 0, 0.338);
    transition: transform .2s;
}
.singleContent:hover{
    border-style: solid;
    border-color:blue ;
    border-width: 0.05rem;
    transform: scale(1.05);
}

.singleContent h4{
    margin: 0 ;
    padding: 0;
}
.buttonContainer{
    display: block;
    padding: 0vh ;
}
.buttonContainer hr{
    margin: 0.05rem 0rem;
    padding: 0;
}
.contentDiv{
    text-align: left;
    display: flex;
    margin: 0.5 vh 0.5vw;
    color:  #0067b8;
    background-color: transparent;
    padding: 0.5rem;
}
.contentDiv:hover .arrow{
    transform: translateX(0.2rem);
}
.contentDiv .arrow{
    display: flex;
    position: relative;
    text-align: right;
}
.contentDiv .description{
    position: relative;
    text-align: left;
    margin: 0;
}
.contentDiv:hover{
    background-color: rgba(245, 243, 243, 0.341);
}
.contentImg{
    object-fit: contain;
    width: 10vw;
    height: 10vh;
}
.handler{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #0068b874;
    object-fit: fill;
    overflow: hidden;
    transition: all 500ms;
    transform: translateX(0%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ProfileHandler{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #0068b874;
    object-fit: fill;
    overflow: hidden;
    transition: all 500ms;
    transform: translateX(0%);
    display: flex;
    justify-content: right;
    align-items: right;

}