.SingleUser input{
   border: 0;
    width: 10vw;}
    .mainContainer{
        padding:0 2vh 2vh 0;
        scroll-behavior: smooth;
      margin: 2vh;
      max-height: 180vh;
      min-height: 55vh;
      overflow-y: scroll;
    background-color:rgb(247, 244, 244);
    display: block;
      align-items: center;
      justify-items: center;
    width: fit-content;
    }
.SingleUser{
    position: relative;
height: fit-content;
margin-left: 2vh;
background-color: white;
    width: fit-content;
    padding:0 2vh 2vh 0;
   }
.SingleUser li{
    padding: 1vh;
    padding-left: 0;
}
.name{
margin-top: 3vh;
font-size: larger;

font-weight: bold;
}