.changePassword{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 5vw;
    border: silver solid 0.1rem;
}
.changePassword .singleContainer{
    width: 20vw;
}
.changePassword button{
    all:unset;
    background-color: #00a400;
    color: white;
    width: 10vw;
    text-align: center;
    font-weight: bold;
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin-top: 5vh;
}
.ChangePasswordTitle{
    width: 100%;
    padding: 1vh 0;
}

.closeIcon:hover{
    background-color: rgb(230, 47, 47);
    color: white;
    cursor: pointer;
    padding:0.5vh;
}