.leftContent{
    display: flex;
    padding: 1rem 0rem;
    text-align: center;
    height: 2rem;
    width: 50%a;
}
.rightContent{
    position: relative;
    right: 0%;
    padding: 1rem 0rem;
    text-align: right;
    height: 2rem;
    width: 50%;
}
.vertical{
    margin: 0 0.5rem;
    background-color: black;
    height: 5vh;
}
.pageTitle{
    display: flex;
    font-weight: bolder;
    margin: auto 0;
}
.logo{
    width: 2rem;
    height: 2rem;
    margin-right:0.5rem ;
    margin: auto 0.5rem auto 0;
}
.CompanyName{
    color: black;
    vertical-align: middle;
    line-height: normal;
    margin: auto 0;
}
span{
    padding-top:0.2rem ;
    text-align: start;
}
header{
    display: flex;
}
.AboutHeader{
    margin: 0 5vw;
}
.HomeHeader{
    margin: 0 1vw;
    box-shadow: black;
}
.searchContainer{
    display: flex;
}
.headerSearchInput{
    width: 20vw;
    height: 6vh;
padding-left: 2vw;
margin-left: 2vw;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 1rem;
    line-height: 2vh;
    border-top-left-radius:0.5rem ;
    border-bottom-left-radius: 0.5rem;
  
    border: 1px solid #575756;
    color: #575756;
    background-color: transparent;
}
/* .headerSearchInput:hover:focus{
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
} */


/* .searchContainer{
    display: flex;
    margin-left: 1vw;
    height: auto;
    border-radius: 0.5rem;
    height: 4.7vh;
    box-shadow: 0rem 0rem 0.5rem rgb(157, 157, 157);
}
.searchContainer:hover{
    box-shadow: 0rem 0rem 0.2rem rgb(129, 128, 128);
} */
.searchIcon{
    padding: 0.4vh;
    height: 5vh;
    border: 1px solid #575756;
    
    border-top-right-radius:0.5rem ;
    border-bottom-right-radius: 0.5rem;
}
