
.activityContainer{
    position: relative;
    display: block;
    width: fit-content;
    height: 57vh;
    background-color: rgba(244, 242, 242, 0.537);
    padding:0 1rem ;
    scroll-behavior: smooth;
}
.sub-header {
    position: relative;
    display: flex;
    padding: 1vh 0;
    height: 5vh;
}

.sub-header h4{
    margin: 0;
}
.refreshBox{
    position: absolute;
    z-index: 1;
    background-color: rgba(52, 52, 52, 0.793);
    color:white ;
    bottom: -4.5vh;
    left: 45%;
    padding: 0.2rem 0.5rem;
    border-radius:5rem ;
}
.refreshBox:hover{
    cursor: pointer;
    background-color: rgba(52, 52, 52, 0.907);
}

.actvityBox{
    background-color: rgba(238, 235, 235, 0.651);
}
/*
.scroll:hover{
    
    overflow-y: scroll;  
}

#scroll-style::-webkit-scrollbar-track:hover
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    border-radius: 10rem;
}

#scroll-style::-webkit-scrollbar:hover
{
	width: 0.7vw;
	background-color: #F5F5F5;
}

#scroll-style::-webkit-scrollbar-thumb:hover
{
    border-radius: 10rem;
	background-color: #555;
}*/



