
.searchContainer{
    display: flex;
    position: relative;
}
.headerSearchInput{
    width: 20vw;
    height: 6vh;
    padding-left: 2vw;
    margin-left: 2vw;
    cursor: pointer;
    transition: transform 250ms ease-in-out;
    font-size: 1rem;
    border: 0;
    background-color: #f5f5f1;
    color: #575756;
  
}
.headerBorder{
    border-bottom-left-radius: 1rem;
    border-top-left-radius:1em;
    box-shadow:  0 0.06em 0.1em  #575756 ;
}
.headerFocus{
    
    border-top-left-radius:1em;
    border: 0;
    border-bottom-left-radius: 0;
}
.headerSearchInput:focus{
    outline: none;

}
.searchIcon{
    padding: 1vh;
    height: 4vh;
    box-shadow:  0 0.06em 0.1em  #575756 ;
    background-color: #f5f5f1;
    border: none;
    border-top-right-radius:1rem ;
    border-bottom-right-radius: 1rem;
}
.menu{
    position: absolute;
    overflow: hidden;
    width: 20vw;
    max-height: 30vh;
    z-index: 1;
    background-color: #f5f5f1;
    margin: 0.2vh 4vh;
    padding-bottom: 2vh;
    border-bottom-left-radius: 2vh;
    color: black;
    top: 6vh;
    left: -0.1vw;
    box-shadow:  0 0.06em 0.1em  #575756 ;
}
.singleSearchValue{
    display: flex;
    background-color: transparent;
    padding: 0.2rem;
    border-bottom:solid 0.1vh wheat;
    margin: 0 0.1vw;
    height: 3vh;
    align-items: center;
}

