.firstTimeLoggedInForm .logo{
    width: 30vw;
    height: 35vh;
    
    margin: 35vh 10vw;
  }
  
  .containers{
    margin-left: 30vw;
     margin-top: 30vh;
     padding: 2rem;
     width:30rem;
     height: 7rem;
   box-shadow: 0 0em 0em 0.2em rgba(5, 5, 5, 0.3);
   }
  .confirm {
    margin-top: -6vh;
  }
  .confirm h4{
    float: right;
margin-top: -7vh;
  }
  .confirm p{
    margin-top: 2rem;
    
    margin-bottom: 5vh;
  }
  .containers input{
    float: right;
  }
  .containers:focus-within .confirm {
    transform: translate(0, -1vh) scale(0.8);
    color: #0a53e4;
  }
  


  .newPassword{
    display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 3vh;

  }
  .main{
    margin-top: 30vh;
    margin-right: 35vh;
    float: right;
  width: 25vw;
  height: 42vh;
  position: relative;
  }
  #buttons{
    width: 50%;
    padding: 1.5vh;
    margin-top: 3vh;
margin-left: 10vh;
    position:absolute;
  }