.Title{
  height: 45vh;  
  width: 100%;
  background-color: #f2f2f2;
  position:absolute;
}
.Title h1{
    padding: 4vw 7vw 0 7vw;
}
.Title p{
    padding: 0 8vw 8vw 8vw;
}
.callUs .phoneIcon{
    width: 3vw;
    height: 5vw;
    padding: 3vw 10vw 0 13vw;
}
.callUs{
    position: relative;
    height: 45vh;
    width:35vw;
    margin: 17vw 0 0 10vw;
    border-radius: 0.5vw;

    background-color: white;
    box-shadow: 0 1vh 1vw rgba(0, 0, 0, 0.338);
  
}
.messageInput{
    float: right;
    margin: -10.5vw 1svw 0 0;
    
width: 50%;
height: 18vh;
  outline: 0;
  background-color: transparent;
  box-sizing: content-box;
  border: 0.2rem solid #b7b7b7;
  border-radius: 0.5rem;
  font: normal 1.1rem/normal Arial, Helvetica, sans-serif;
  text-indent: 2rem;
}
button{
    margin-left: 12vw;
    position: relative;
    font-size: 1rem;
    width: 30%;
    background-color: #096292;
    color:white;
    padding: 0.5em 0;
    border-radius: 0.3em;
  }
.message .phoneIcon

{
    width: 4vw;
    height: 5vw;
    margin-left: 18vw; 
}
.callUs p{
    padding: 0 0 0 5vw;
    font-size: large;
}
.message p{
    font-weight: bold;
    font-size: large;  
    margin-left: 15vw;
}
#phone{
    padding: 0 0 0 11vw;
}
#p2{
    padding: 0 2vw 2vw 8vw;
    font-size: large;
}
.Title img{
    float: right;
    margin-top: -41vh;
    height: 50vh;
    width: 40vw;

}
.message{
    height: 47vh;
    position: relative;
    width:40vw;
    margin-top: -45vh;
    margin-left: 50vw;
    margin-bottom: 5vw;
    border-radius: 0.5vw;
    background-color: white;
    box-shadow: 0 1vh 1vw rgba(0, 0, 0, 0.338);
  
}