.Title{
    height: 45vh;  
    width: 100%;
    display: flex;
    background-color: #f2f2f2;
    position:absolute;
}
.Title h1{
    padding: 4vw 7vw 0 7vw;
}
.Title p{
    padding: 0 8vw 8vw 8vw;
}
.callUs .phoneIcon{
    width: 3vw;
    height: 5vw;
    padding: 3vw 10vw 0 13vw;
}
.messageInput:focus{
    outline: none;
}
.callUs{
    position: relative;
    height: 45vh;
    width:35vw;
    margin: 20vw 0 0 5vw;
    border-radius: 0.5vw;
    background-color: white;
    box-shadow: 0 1vh 1vw rgba(0, 0, 0, 0.338);
  
}
.messageInput{
    width: fit-content;
    height: 18vh;
    outline: 0;
    background-color: transparent;
    border-radius: 0.5rem;
    font: normal 1.1rem/normal Arial, Helvetica, sans-serif;
    text-indent: 2rem;
}
.contactUS button{
    position: relative;
    font-size: 1rem;
    width: fit-content;
    background-color: #096292;
    color:white;
    padding: 0.5em 0.5em;
    border-radius: 0.3em;
    margin-top: 2vh;
  }
.ContactUSMessage .phoneIcon{
    width: 4vw;
    height: 5vh;
}
.callUs p{
    padding: 0 0 0 5vw;
    font-size: large;
}
.ContactUSMessage p{
    font-weight: bold;
    font-size: large;  
}
#phone{
    padding: 0 0 0 11vw;
}
#p2{
    padding: 0 2vw 2vw 8vw;
    font-size: large;
}
.Title img{
    float: right;
    margin-top: 1vh;
    margin-left: 17vw;
    height: 50vh;
    width: 40vw;

}
.ContactUSMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 28vh;
    margin-left: 5vw;
    height: 47vh;
    position: relative;
    width:40vw;
    border-radius: 0.5vw;
    background-color: white;
    box-shadow: 0 1vh 1vw rgba(0, 0, 0, 0.338);
  
}